/* line 17, ../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 31, ../sass/style.sass */
html {
  background: url("../images/bg_grid.png");
  font-family: "Century Gothic", "Helvetica";
  position: relative; }

/* line 36, ../sass/style.sass */
body {
  margin: 89px 59px;
  padding: 25px 59px 39px;
  background: white;
  border: 1px solid #dbdbdb;
  line-height: 24px;
  font-size: 16px; }
  /* line 44, ../sass/style.sass */
  body > h1 {
    text-transform: uppercase; }

/* line 47, ../sass/style.sass */
h1 {
  font-size: 1.5em;
  line-height: 3em; }
  /* line 51, ../sass/style.sass */
  h1#name {
    font-family: "Century Gothic";
    font-size: 2em;
    line-height: 1.5em;
    text-transform: none;
    margin-left: 180px; }
    /* line 56, ../sass/style.sass */
    h1#name span {
      font-size: 0.5em;
      line-height: 4.5em;
      color: #bdc3c7; }

/* line 60, ../sass/style.sass */
p {
  font-family: "Bookman Old Style"; }

/* line 63, ../sass/style.sass */
#sidebar {
  font-size: 1.125em;
  line-height: 1.6em;
  background-color: #c0392b;
  position: fixed;
  color: white;
  left: 0;
  top: 30%;
  overflow: hidden;
  width: 32px;
  transition: width 0.2s;
  white-space: nowrap;
  font-family: "Helvetica"; }
  /* line 75, ../sass/style.sass */
  #sidebar:hover {
    width: 150px; }
  /* line 77, ../sass/style.sass */
  #sidebar li:hover {
    background-color: #e67e22; }
  /* line 79, ../sass/style.sass */
  #sidebar li {
    padding: 2px 4px; }
  /* line 81, ../sass/style.sass */
  #sidebar i {
    margin-right: 8px; }

/* line 84, ../sass/style.sass */
#avatar {
  width: 150px; }

/* line 88, ../sass/style.sass */
.avatar-crop {
  margin-top: -70px;
  height: 150px;
  overflow: hidden;
  float: left;
  border-radius: 10px; }

/* line 97, ../sass/style.sass */
#project-area h1 {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: bold; }
/* line 103, ../sass/style.sass */
#project-area li {
  display: inline-block;
  margin-right: 8px; }
/* line 106, ../sass/style.sass */
#project-area img {
  height: 200px; }
/* line 109, ../sass/style.sass */
#project-area .project {
  background-color: #ecf0f1;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 4px;
  transition: opacity 0.2s; }
/* line 120, ../sass/style.sass */
#project-area .crop {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 10px; }
/* line 127, ../sass/style.sass */
#project-area span.duration {
  font-size: 1em;
  line-height: 1.5em;
  color: #7f8c8d; }
/* line 131, ../sass/style.sass */
#project-area span.tag {
  background-color: #e67e22;
  border-radius: 2px;
  padding: 0px 4px;
  color: white;
  font-family: "Courier", "Courier New"; }
  /* line 138, ../sass/style.sass */
  #project-area span.tag.matlab {
    background-color: #16a085; }
  /* line 140, ../sass/style.sass */
  #project-area span.tag.cpp {
    background-color: #e67e22; }
  /* line 142, ../sass/style.sass */
  #project-area span.tag.web {
    background-color: #2980b9; }
